@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans',  sans-serif;
  margin: 0;
  padding: 0;
}

.back-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.front-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px;;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 5px;
  margin: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #1875b3;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  }

  button:hover {
    background-color: #07609a;
  }
