@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans',  sans-serif;
  margin: 0;
  padding: 0;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
  }

  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
  }

  .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    height: 100%; 
  }
  
  .lfa-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    position: relative; 
    height: 100%; 
  }

  h2 {
    text-align: center;
    width: 100%;
    font-size: 28px;
    margin-top: 0;
  }

  input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
  }
/* Remove? (only small change) */
  input[type="number"].half {
    width: calc(50% - 5px);
    margin-right: 10px;
  }

  button {
    padding: 10px 5px;
    margin: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #1875b3;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

  button img {
    vertical-align: middle;
  }

  button:hover {
    background-color: #07609a;
  }

  .help-div {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }

  .help-div:hover::before {
    content: "Could not find description";
    display: block;
    position: absolute;
    top: -50%;
    left: 150%;
    
    width: 200px;
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    line-height: 20px;
    text-align: center;
    color: #555;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  #center-help:hover::before {
    content: "The expected centroid (or center) of the contour, specified by its X and Y coordinates.";
    }
    
    #dist-help:hover::before {
    content: "The maximum allowed distance from the calculated centroid of the contour to the expected centroid, specified in pixels. If the distance exceeds this value, the contour will be filtered out.";
    }
    
    #area-help:hover::before {
    content: "The minimum area of a contour, specified in pixels. If the area of a contour is less than this value, it will be filtered out.";
    }
    
    #defect-help:hover::before {
    content: "The maximum allowed depth of a convexity defect, specified in pixels. If a contour contains convexity defects deeper than this value, it will be filtered out.";
    }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .input-group-x-y {
    display: flex;
    flex-direction: row;
    width: 100% ;
    justify-content: center;
  }

  .input-group-x-y input {
    margin-left: 20px;
  }

  .retake-button {
    display: flex;
    flex-direction: row;
    width: 100% ;
    justify-content: center;
    position: absolute;
    bottom: 0; 
  }

  .button-group {
    display: flex;
    flex-direction: row;
    width: 100% ;
    justify-content: center;
    margin-top: auto;
    bottom: 0; 
  }

  .header-group {
    display: flex;
    flex-direction: row;
    width: 100% ;
    
  }

.modal-container {
  display: none; /* Hide by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

#settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

#settings-button img {
  width: 20px; 
  height: 20px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  width: 100% ;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  width: 100% ;
  justify-content: flex-start;
  
}

.flex-align-start {
  align-items: flex-start;
}
 