{% extends 'base.html' %}

{% block head %} 
    <title>LFA Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> 
{% endblock %}

{% block body %}
  <!-- UI: https://sites.google.com/site/prakashbebington/multimedia-development-resources/gui-design-principles -->
  <div class="container">
    <div class="form-container">
      <div class="image-container">
        
        {% if is_video %}
        <form id="cap_form" method="GET" action="{{ url_for('cap_image') }}"></form> 
        <form id="load_form" method="POST" action="{{ url_for('load_image') }}" enctype="multipart/form-data"></form> 

        <img class="lfa-image" src="{{ url_for('live_image') }}" alt="LFA image" />
        <div class="button-group">
          <button type="submit" form="cap_form">
            <img src="{{ url_for('static', filename='assets/camera_icon.svg') }}" alt="Camera icon">
            Capture Image
          </button>
          <!-- <button type="submit" form="load_form">Choose Image File</button> -->
          <input type="file" name="file" id="file_input" accept="image/*" style="display:none" form="load_form" />
          <button type="button" onclick="document.getElementById('file_input').click()">
            <img src="{{ url_for('static', filename='assets/folder_icon.svg') }}" alt="Folder icon">
            Select Image
          </button>
        </div>
        {% else %}
        <form id="reset_form" action="{{ url_for('reset') }}"></form>

        <img class="lfa-image" src="data:image/png;base64,{{ input_image }}" id="lfa_image" alt="LFA image"/>
        <div class="retake-button">
          <button type="submit" form="reset_form">
            <img src="{{ url_for('static', filename='assets/redo_icon.svg') }}" alt="Redo icon">
            Retake Image
          </button>
        </div>
        {% endif %}
      </div>

      <!-- https://stackoverflow.com/questions/379610/can-you-nest-html-forms -->
      
      <form id="post_form"  method="POST" action="{{ url_for('post_data') }}"></form>
      <form id="algo_form" method="GET" action="{{ url_for('run_algorithm') }}"></form> 
      
      <div class="form-group">
        <div class="header-group">
          <h2>Calibrate Filters</h2>
          <!-- Button to trigger modal -->
          <button id="settings-button">
            <img src="{{ url_for('static', filename='assets/gear_icon.svg') }}" alt="Settings icon">
          </button>
        </div>
        <label for="center">
          Expected Center (x,y) 
          <div id="center-help" class="help-div">?</div>
        </label>
        
        <div class="input-group-x-y">
          <input type="number" name="center_x" id="center_x" value="{{settings_variables.x}}" form="post_form"/>
          <input type="number" name="center_y" id="center_y" value="{{settings_variables.y}}" form="post_form"/>
        </div>
        
        <label for="max_dist">
          Maximum Expected Center Distance 
          <div id="dist-help" class="help-div">?</div>
        </label>
        <input type="number" name="max_dist" id="max_dist" value="{{settings_variables.maxDist}}" form="post_form"/>
        <label for="min_area">
          Minimum Area
          <div id="area-help" class="help-div">?</div>
        </label>
        <input type="number" name="min_area" id="min_area" value="{{settings_variables.minArea}}" form="post_form"/>
        <label for="max_defect">
          Maximum Convexity Defect
          <div id="defect-help" class="help-div">?</div>
        </label>
        <input type="number" name="max_defect" id="max_defect" value="{{settings_variables.maxDefect}}" form="post_form"/>
        <div class="button-group">
          <button type="submit" form="post_form">
            <img src="{{ url_for('static', filename='assets/update_icon.svg') }}" alt="Update icon">
            Update Config File
          </button>
          <button type="submit" form="algo_form">
            <img src="{{ url_for('static', filename='assets/action_icon.svg') }}" alt="Action icon">
            Run Algorithm
          </button>
        </div>
      </div>
    
      {% include "settings-modal.html" %}

    </div>
  </div>

  <script type="text/javascript" src="{{url_for('static', filename='mainScript.js')}}"></script>
  <script type="text/javascript">
    var inputImage = '{{ input_image }}';
 </script>

{% endblock %}

